/* Start global rules */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #2196f3;
    --alt-color: #00C7FC;
    --transparent-color: rgb(15 116 143 / 70%);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    margin: auto;
    padding: 20px;
    /* position: relative; */
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */
/* Start Components */
h2.special-heading {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -1px;
    position: relative;
    padding-bottom: 25px;
}
h2.special-heading::before {
    content: '';
    width: 150px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    color: black;
    background-color: black;
    transform: translateX(-50%);
}
h2.special-heading::after {
    content: '';
    width: 16px;
    height: 16px;
    border: 2px solid;
    bottom: -8px;
    left: 50%;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    transform: translateX(-50%);
}
h2.special-heading + p {
    color: #777;
    text-align: center;
    width: 550px;
    margin: 30px auto 80px;
    line-height: 1.7;
}
@media (max-width: 767px) {
    h2.special-heading + p {
        width: fit-content;
    }
}
/* End Components */
/* Start Header */
.header {
    position: absolute;
    z-index: 12;
    width: 100%;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 77px;
    gap: 100px;
    border-bottom: 1px solid #a2a2a2;
}
.header .container .logo {
    cursor: pointer;
}
.header .container .nav {
    display: flex;
    color: white;
    align-items: center;
    flex: 1;
    justify-content: end;
}
.header .container .nav .links {
    display: flex;
    /* height: 100%; */
}
@media (max-width: 767px) {
    .header .container .nav .links {
        display: flex;
        height: 100%;
        position: absolute;
        left: 0;
        width: 100%;
        top: 50px;
        flex-direction: column;
        justify-content: start;
        z-index: 15;
    }
    .header .container .nav .links li a {
        background-color: rgb(0 0 0 / 51%);

    }
    }
.header .container .nav .links a {
    color: white;
    cursor: pointer;
    position: relative;
    padding: 28px 14px;
}
.header .container .nav .links a.active,
.header .container .nav .links a:hover {
    color: var(--alt-color);
    border-bottom: 2px solid var(--alt-color);

}
.header .container .nav .magnify {
    /* width: 50px; */
    display: flex;
    justify-content: center;
    border-left: 2px solid white;
    align-items: center;
    color: #777;
    cursor: pointer;
    color: white;
    padding-left: 15px;
    margin-left: 20px;
}
.header .container .nav .toggle {
    display: none;
}
@media (max-width: 767px) {
    .header .container .nav .toggle {
        color: white;
        cursor: pointer;
        display: block;
    }
}
@media (max-width: 767px) {
    .header .container .nav .links {
        display: none;
    }
    .header .container .nav .toggle:hover + .links {
        display: flex;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
        flex-direction: column;
        top: 100%;
    }
    .header .container .nav .toggle:hover + .links li a {
        width: 100%;
        padding: 10px;
        display: block;
    }
}

/* End Header */
/* Start Landing */
.landing {
    position: relative;
    height: 100vh;
    background-color: rgb(0 0 0 / 70%);
    background-image: url(../imgs/Space-Wallpaper-Photos-download-free.jpg);
    background-size: cover;
}
.landing::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    top: 0;
    left: 0;
}
.landing .text {
    width: 50%;
    position: absolute;
    top: 50%;
    display: flex;
    transform: translateY(-50%);
    min-height: 300px;
}
.landing .text .overlay {
    padding: 40px 40px 40px 150px;
    background-color: var(--transparent-color);
}
.landing .text .overlay .content {
    justify-content: flex-end;
    color: white;
}
.landing .text .overlay .content h2 {
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 26px;
}
.landing .text .overlay .content h2 + p {
    line-height: 1.7;
    font-weight: 400;
    font-size: 15px;
}
@media (max-width: 991px) {
    .landing .text {
        width: 100%;
    }
    .landing .text .overlay {
        padding: 30px;
    }
}
.landing .arrows {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 20;
}
.landing .arrows i {
    font-size: 25px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    padding: 15px 20px;
}
.landing ul.bullets {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    gap: 10px;
}
.landing ul.bullets li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
}
.landing ul.bullets li.active {
    border: none;
    background-color: var(--main-color);
}
/* End Landing */
/* Start Services */
.services {
    padding: 80px 0;
}
.services .service-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.services .service-cont .srv {
    flex-basis: 45%;
    display: flex;
    gap: 40px;
}
@media (max-width: 991px) {
    .services .service-cont .srv {
        flex-basis: 100%;
    }
}
.services .service-cont .srv i {
    flex-basis: 50px;
}
.services .service-cont .srv .text {
    flex: 1;
}
.services .service-cont .srv .text h3 {
    color: var(--alt-color);
    font-weight: 600;
    margin-bottom: 30px;
}
.services .service-cont .srv .text p {
    color: #777;
    line-height: 1.8;
    font-weight: 300;
}
/* End Services */
/* Start Design */
.design {
    background-image: url(../imgs/design-features.jpg);
    position: relative;
    height: 500px;
    overflow: hidden;
}
.design::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    top: 0;
    left: 0;
}
.design .mobile {
    position: absolute;
    bottom: -100px;
    left: 200px;
}
@media (max-width: 1199px) {
    .design .mobile {
        left: 50px;
    }
}
.design .text {
    background-color: var(--transparent-color);
    position: absolute;
    right: 0;
    width: 50%;
    top: 50%;
    height: 350px;
    color: white;
    padding: 50px;
    transform: translateY(-50%);
}
@media (max-width: 991px) {
    .design .mobile {
        display: none;
    }
    .design .text {
        width: 100%;
    }
}
.design .text h3 {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 24px;
}
.design .text .line {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.design .text .line h6 {
    font-size: 18px;
    font-weight: 400;
}
/* End Design */
/* Start Portfolio */
.portfolio {
    padding: 80px 0;
}
.portfolio ul.address {
    display: flex;
    margin: auto;
    width: 400px;
    gap: 15px;
}
.portfolio ul.address li a {
    color: black;
    padding: 10px 8px; 
}
.portfolio ul.address li a.active,
.portfolio ul.address li a:hover {
    background-color: var(--alt-color);
    color: white;
}
@media (max-width: 767px) {
    .portfolio ul.address {
        width: 70%;
        justify-content: space-evenly;
        gap: 0;
    }
}
.portfolio .gallery {
    margin: 80px 0 30px;
    display: flex;
    flex-wrap: wrap;
}
.portfolio .gallery .piece {
    flex-basis: 25%;
    position: relative;
    transition: .3s;
    overflow: hidden;
}
@media (max-width: 1199px) {
    .portfolio .gallery .piece {
        flex-basis: 50%;
    }
}
@media (max-width: 767px) {
    .portfolio .gallery .piece {
        flex-basis: 100%;
    }
}
.portfolio .gallery .piece img {
    max-width: 100%;
    transition: .3s;
}
.portfolio .gallery .piece:hover img {
    transform: rotate(5deg) scale(1.2);
    /* position: absolute; */
}
.portfolio .gallery .piece .text {
    position: absolute;
    bottom: -100%;
    width: 100%;
    padding: 15px;
    background-color: #eee;
}
.portfolio .gallery .piece:hover .text {
    bottom: 0;
    transition: .3s;
}
.portfolio .gallery .piece .text p {
    font-weight: 400;
    margin: 10px 0;
}
.portfolio .gallery .piece .text p + h5 {
    color: var(--alt-color);
    font-weight: 400;
    font-size: 16px;
}
.portfolio a.more {
    background-color: var(--alt-color);
    padding: 15px 20px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin: 15px auto;
    display: block;
    width: fit-content;
    font-weight: 500;
}
/* End Portfolio */
/* Start Video */
.video {
    position: relative;
}
.video::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 40%);
}
.video video  {
    aspect-ratio: 16 / 9;
    width: 100%;
}
.video .text {
    position: absolute;
    top: 50%;
    background-color: var(--transparent-color);
    width: 100%;
    padding: 50px;
    text-align: center;
    color: #fff;
    transform: translateY(-50%);
}
.video .text h3 {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 30px;
    letter-spacing: -1px;
}
.video .text h3 + p {
    margin-bottom: 20px;
}
.video .text h3 + p + a {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    margin: 20px auto;
    display: block;
    width: fit-content;
    text-transform: uppercase;
}
/* End Video */
/* Start About */
.about {
    position: relative;
    padding-top: 100px;
    text-align: center;
    height: 600px;
    overflow: hidden;
}
.about img {
    position: absolute;
    /* margin-top: -160px; */
    bottom: -120px;
    transform: translateX(-50%);
    max-width: 100%;
}
@media (max-width: 767px) {
    .about img {
        bottom: -60px;
    }
}
/* End About */
/* Start Stats */
.stats {
    background-image: url(../imgs/stats.png);
    position: relative;
    padding: 30px 0;
}
.stats::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    top: 0;
    left: 0;
}
.stats .boxes {
    background-color: var(--transparent-color);
    display: flex;
    margin: 50px auto;
    flex-wrap: wrap;
    position: relative;
}
.stats .boxes .box {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    color: #fff;
}
@media (max-width: 991px) {
    .stats .boxes .box {
        flex-basis: 50%;
    }
}
@media (max-width: 767px) {
    .stats .boxes .box {
        flex-basis: 100%;
    }
}
.stats .boxes .box i {
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.stats .boxes .box h3 {
    font-size: 40px;
}
.stats .boxes .box p {
    font-weight: 300;
    font-size: 14px;
    margin: 20px 0;
}
/* End Stats */
/* Start Testimonials */
.testimonials {
    padding: 100px 0;
}
.testimonials .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonials .container > div {
    flex-basis: 45%;
}
@media (max-width: 991px) {
    .testimonials .container > div {
        flex-basis: 100%;
    }
}
.testimonials .container > div > h3 {
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: -1px;
    margin-bottom: 30px;
}
.testimonials .container > div h3 + p {
    color: #777;
    text-align: center;
    line-height: 2;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.testimonials .container .testi .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.testimonials .container .testi .content .part {
    display: flex;
    gap: 30px;
    align-items: center;
}
@media (max-width: 991px) {
    .testimonials .container .testi .content .part {
        flex-direction: column;
        text-align: center;
    }
}
.testimonials .container .testi .content .part img {
    width: 100px;
    border-radius: 50%;
}
.testimonials .container .testi .content .part .text {
    border-bottom: 1px solid #ccc;
    flex: 1;
    margin: 15px;
}
.testimonials .container .testi .content .part .text p {
    line-height: 1.8;
    font-size: 18px;
}
.testimonials .container .testi .content .part .text span {
    color: #777;
    margin: 15px 0;
    text-align: right;
    display: block;
    font-size: 14px;
    font-weight: 400;
}
.testimonials .container .testi .content ul.bullets {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.testimonials .container .testi .content ul.bullets li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #777;
}
.testimonials .container .testi .content ul.bullets li.active {
    background-color: var(--alt-color);
    border: none;
}
.testimonials .container .skills {

}
.testimonials .container .skills .skill {
    position: relative;
    height: 100px;
}
.testimonials .container .skills .skill h4 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: normal;
    margin-bottom: 20px;
}
.testimonials .container .skills .skill .bar {
    background-color: #ddd;
    height: 30px;
    position: relative;
    width: 100%;
}
.testimonials .container .skills .skill .bar span {
    background-color: var(--alt-color);
    height: 100%;
    /* position: relative; */
    display: block;
    position: relative;
}
.testimonials .container .skills .skill .bar span::before {
    content: attr(data-prog);
    background-color: #000;
    color: #fff;
    padding: 4px 6px;
    width: fit-content;
    border-radius: 6px;
    position: absolute;
    right: -14px;
    top: -40px;
}
.testimonials .container .skills .skill .bar span::after {
    content: '';
    position: absolute;
    border: 8px solid transparent;
    border-top-color: #000;
    right: -4px;
    top: -15px;
}
/* End Testimonials */
/* Start Quote */
.quote {
    background-image: url(../imgs/quote.jpg);
    padding: 70px;
    position: relative;
}
.quote::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
    top: 0;
    left: 0;
}
.quote q {
    color: #fff;
    position: relative;
    text-align: center;
    margin: 30px auto;
    font-size: 34px;
    line-height: 1.6;
    display: block;
}
.quote q::before {
    content: f10d;
    font-size: 40px;
}
.quote q::after {
    font-size: 40px;
    content: f10e;
}
.quote p {
    position: relative;
    color: #fff;
    text-align: center;
}
/* End Quote */
/* Start Pricing */
.pricing {
    padding: 100px 0;
}
.pricing .container {

}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.pricing .plans .plan {
    text-align: center;
}
.pricing .plans .plan .head {
    border-top: 1px solid var(--alt-color);
    border-bottom: 1px solid var(--alt-color);
    padding: 30px;
}
.pricing .plans .plan h3 {
    padding: 20px;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: -1px;
    text-transform: uppercase;
}
.pricing .plans .plan h3 + p {
    position: relative;
    font-size: 60px;
    font-weight: 700;
}
.pricing .plans .plan h3 + p::before {
    content: '$';
    position: absolute;
    font-size: 22px;
    font-weight: 400;
    margin-left: -25px;
    top: -5px;
}
.pricing .plans .plan h3 + p::after {
    content: '/Mo';
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    bottom: 0;
    margin-left: 10px;
}
.pricing .plans .plan ul {
    border-bottom: 1px solid var(--alt-color);

}
.pricing .plans .plan ul li {
    padding: 20px;
    width: 160px;
    margin: auto;
}
.pricing .plans .plan ul li:not(:last-child) {
    border-bottom: 1px solid var(--alt-color);
    
}
.pricing .plans .plan button {
    margin: 25px;
    border: 1px solid var(--alt-color);
}
.pricing .plans .plan button a {
    padding: 20px;
    display: block;
}
.pricing p.contact {
    text-align: center;
    font-size: 22px;
    margin: 50px 0 20px;
}
.pricing p.contact + button {
    border: none;
    padding: 15px 25px;
    margin: auto;
    display: block;
    background-color: var(--alt-color);
}
.pricing a.contact {
    color: #fff;
    font-size: 18px;
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
    background-image: url(../imgs/subscribe.jpg);
    background-size: cover;
    padding: 50px 0;
    position: relative;
}
.subscribe::before {
    content: '';
    position: absolute;
    background-color: rgb(0 0 0 / 51%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.subscribe .container {
    display: flex;
    gap: 50PX;
    flex-wrap: wrap;
}
.subscribe .form {
    flex-basis: 400px;
    border: 2px solid #fff;
    padding: 20px;
    color: #FFF;
    position: relative;
    display: flex;
    justify-content: space-between;
    position: relative;
}
@media (max-width: 991px) {
    .subscribe .form {
        flex-basis: 100%;
    }
}
.subscribe .form i {
    font-size: 18px;
}
.subscribe .form input[type='email'] {
    background-color: transparent;
    border: none;
    outline: none;
   position: absolute;
   left: 50px;
}
.subscribe .form input[type='email']::placeholder {
    color: #fff;
}
.subscribe .form input[type='submit'] {
    background-color: var(--alt-color);
    border: none;
    min-height: 100%;
    display: block;
    color: #fff;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    text-transform: uppercase;
}
.subscribe .form + p {
    flex: 1;
    color: #fff;
    line-height: 1.7;
    position: relative;
}
/* End Subscribe */
/* Start Contact */
.contact {
    padding: 100px 0;
}
.contact .container {
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    flex-wrap: wrap;
}
.contact .container .form {
    flex-basis: 60%;
    position: relative;
}
@media (max-width: 767px) {
    .contact .container {
        flex-direction: column-reverse;
    }
    .contact .container .form {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .contact .text {
        text-align: center;
    }
}
.contact .container .form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.contact .container .form input:focus {
    outline: none;
}
.contact .container .form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    height: 200px;
}
.contact .container .form input[type='submit'] {
    background-color: var(--alt-color);
    color: #fff;
    width: fit-content;
    text-transform: uppercase;
    position: absolute;
    right: 0;
}
.contact .container .text {
    flex: 1;
}
.contact .container .text .part:first-child {
    margin-bottom: 60px;
}
.contact .container .text .part h5 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 25px;
    letter-spacing: -1px;
}
.contact .container .text .part span {
    display: block;
    color: #777;
    margin-bottom: 15px;
}
.contact .container .text .part:last-child span {
    font-style: italic;
}
/* End Contact */
/* Start Footer */
.footer {
    background-image: url(../imgs/subscribe.jpg);
    background-size: cover;
    position: relative;
    padding: 30px;
    text-align: center;
    position: relative;
}
.footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
    top: 0;
    left: 0;
}
.footer .container {
    position: relative;
    color: #fff;
}
.footer .container img {
    margin-bottom: 50px;
}
.footer .container h3 {
    border-bottom: 2px solid #fff;
    width: fit-content;
    margin: 0 auto 30px ;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
}
.footer .container .social {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}
.footer .container p.foot {
    letter-spacing: -1px;
    font-size: 16px;
}
.footer .container p.foot span {
    color: var(--alt-color);
}
/* End Footer */